.footer-container {
    // background-color: black;
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    // position: absolute;
    // bottom: 100%;

    .footer {
        // background-color: white;
           
        width: 492px;
        height: 145.43px;
        gap: 36px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        gap: 36px; 

        .social-icons-wrapper {
            width: 240px;
            height: 27.43px;
            gap: 48px;
            display: flex;
            align-items: center;
            
            .fb-wrapper {
                width: 24px;
                height: 27.428571701049805px;
                       
            }

            .insta-wrapper {
                width: 24px;
                height: 27.428571701049805px;      
            }

            .tw-wrapper {
                width: 24px;
                height: 24px;
    
            }

            .yt-wrapper {
                width: 24px;
                height: 21.33333396911621px;
                       
            }
                 
        }

        .privacypolicy-wrapper {
            display: flex;
            align-items: flex-start;
            width: 492px;
            height: 23px;
            gap: 48px;

            .conditions {
                width: 154px;
                height: 23px;                 
                color:  #111827;
                font-family: DM Sans;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            .privacy_policy {
                width: 140px;
                height: 23px;
                color:  #111827;
                font-family: DM Sans;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;       
            }

            .press_room {
                width: 102px;
                height: 23px;
                color: #111827;
                font-family: DM Sans;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal; 
                    
            }
        }

        .sitename-wrapper {
            width: 366px;
            height: 23px;
            font-family: DM Sans;
            font-size: 18px;
            font-weight: 700;
            line-height: 23px;
            letter-spacing: 0px;
            text-align: left;   
            color: #6B7280;
                 
        }
         
    }
    
}